/*
 * Auteur: Jorne Biccler
 * Project: ugentopoly
 * Vak: Programmeren 2
 */

.infoBox {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-spacing: 5;
}

.bottomBox {
    -fx-alignment:TOP_CENTER;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.labelBox{
    -fx-alignment:TOP_LEFT;
    -fx-spacing: 5;
}

.label {
    -fx-wrap-text: true;
    -fx-alignment: CENTER;
}

.spaceBox-selected {
    -fx-background-color: transparent;
    -fx-border-color: PEACHPUFF;
    -fx-border-width: 3;
}
.spaceBox-unselected {
    -fx-background-color: transparent;
    -fx-border-width: 3;
}

.spaceBox-HorLeft{
    -fx-alignment: CENTER_LEFT;
}

.spaceBox-HorRight{
    -fx-alignment: CENTER_RIGHT;
}

.spaceBox-VertUp{
    -fx-alignment: TOP_CENTER;
}

.spaceBox-VertDown{
    -fx-alignment: BOTTOM_CENTER;
}

.spaceBox-Corner{
    -fx-alignment: CENTER;
}


